body {
	background: url('background.png');
	color: white;
}

body * {
	font-size: 2.7vw;
}

#interfaces {
	position: relative;
	left: 25%;
	top: 10%;
	width: 50%;
	height: 50%;
}

table {
	width: 100%;
}

td {
	width: 50%;
}

input {
	background-color: #442e2e;
	color: white;
	outline-color: black;
	border-top-color: black;
	border-bottom-color: black;
	border-left-color: black;
	border-right-color: black;
	border-radius: 2rem;
	text-align: center;
	width: 100%;
}

fieldset {
	outline-color: black;
	border-top-color: black;
	border-bottom-color: black;
	border-left-color: black;
	border-right-color: black;
}

button {
	border-radius: 3rem;
	background-color: #442e2e;
	outline-color: black;
	border-top-color: black;
	border-bottom-color: black;
	border-left-color: black;
	border-right-color: black;
	color: white;
}